---
import Header from "@/components/layout/Header";
import Hero from "@/components/sections/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const title = "Desarrollador de Software Full Stack";
const description =
  "Desarrollador de software full stack especializado en el desarrollo de aplicaciones web modernas, soluciones de automatización y sistemas de software escalables. Disponible para trabajos freelance y a distancia.";
---

<BaseLayout title={title} description={description}>
  <div class="min-h-screen">
    <!-- HEADER  -->
    <Header client:load />
    <main>      
      <!-- HERO -->
      <Hero />

      <!-- SERVICES -->

      <!-- SKILLS -->

      <!-- PROJECTS -->

      <!-- CONTACT -->
    </main>
  </div>
</BaseLayout>