---
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header";
import Availability from "@/components/sections/Availability.astro";
import Contact from "@/components/sections/Contact.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Resume from "@/components/sections/Resume.astro";
import Services from "@/components/sections/Services.astro";
import Skills from "@/components/sections/Skills.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const title = "Desarrollador de Software Full Stack";
const description =
  "Desarrollador de software full stack especializado en el desarrollo de aplicaciones web modernas, soluciones de automatización y sistemas de software escalables. Disponible para trabajos freelance y a distancia.";
---

<BaseLayout title={title} description={description}>
  <div class="min-h-screen">
    <!-- HEADER  -->
    <Header client:load />
    <main>      
      <!-- HERO -->
      <Hero />
      <!-- SERVICES -->
      <Services />
      <!-- SKILLS -->
      <Skills />
      <!-- PROJECTS -->
       <Projects />
      <!-- RESUME -->
      <Resume />
      <!-- AVAILABILITY -->
      <Availability />
      <!-- CONTACT -->
      <Contact />
    </main>
    <!-- FOOTER -->
     <Footer />
  </div>
</BaseLayout>